.add_new_task {
    margin: 20px 0;
    
    .input_field {
        width: 100%;
        margin-bottom: 15px;
    }

    &__button {
        opacity: .4;
        cursor: pointer;
        transition: opacity .2s;

        img {
            margin-right: 20px;
        }

        &:hover {
            opacity: .8;
        }
    }

    .btn__add_task {
        margin-right: 10px;
    }

}