.tasks {
    margin-bottom: 40px;
    .tasks__title {
        color: #64C4ED;
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        line-height: 39px;
        padding-bottom: 16px;
        margin-bottom: 20px;
        border-bottom: 1px solid #F2F2F2;
        display: flex;
        align-items: center;

        &_edit {
            margin-left: 15px;
            opacity: 0;
            cursor: pointer;
            transition: all .2s;
        }

        &:hover .tasks__title_edit {
            opacity: .25;
        }

        .buttons {
            display: flex;
            align-items: center;
            margin-left: 20px;

            .btn__save {
                margin-right: 10px;
            }
        }

    }

    .tasks__list_item {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 20px;

        .tasks__list__checkbox {
            display: none;
        }

        .task__list__checkbox_circle {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid #e8e8e8;
            margin-right: 10px;
            cursor: pointer;
            transition: all .3s;
            position: relative;

            &:hover {
                background-color: #e8e8e8;
                svg {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }

        .tasks__list__checkbox:checked+.task__list__checkbox_circle {
            background-color: #4DD599;
            border: 2px solid #4DD599;

            svg {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(3);
            opacity: 0;
            transition: all .3s;
        }
    }

    .tasks__list_empty {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        color: #C9D1D3;
    }
}
    

    